body {
    background: black;
    margin: 0;
}
.Post-header {
    background: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
h2, p {
    margin: 5px;
}
.iconosup {
    display: flex;
    align-items: center; /* Alinear iconos y texto verticalmente */
}
.iconos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.fa-html5 {
    margin-right: 10px; /* Espacio entre icono de HTML5 y texto */
}
.Post {
    background: white;
    margin: 10px;
}
.Post img {
    width: 100%;
    height: 300px;
}
.Post h2 {
    padding: 1%;
    margin: 1px;
}
.Post p {
    padding: 2%;
    margin: 1px;
    
}
.container {
    width: 600px;
    margin: auto;
}

.htmlicono {
    font-size: 40px;
}

.iconofooter {
    font-size: 20px;
}

.iconopoints {
    font-size: 25px;
}







